<body>
    <header>
        <div class="paragraph">
            <p>Bienvenida/o {{user.email}} </p>
        </div>
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/api/sessions/profile">MI PERFIL</a></li>
                    <li><a href="/api/sessions/logout">CERRAR SESIÓN</a></li>
                </ul>
            </nav>
        </div>
        <div class="logo-container">
            <img src="images/pages/logo.png" alt="Logo de VerdeVital" class="logo">
        </div>
    </header>
    <div class="text">
        <p>ENVIOS GRATIS: 🛵 CABA $20.000 - 📦 TODO EL PAIS $50.000 Y HASTA 3 CUOTAS S/ INTERÉS 💳 - 10% PAGO EFECTIVO
            💸</p>
    </div>
    <main>
        <section class="products">
            <h1 class="title">PRODUCTOS</h1>

            <div class="filter-container">
                <label for="sortPrice">Ordenar por precio: </label>
                <select id="sortPrice">
                    <option value="" selected disabled>Selecciona una opción</option>
                    <option value="asc">Ascendente</option>
                    <option value="desc">Descendente</option>
                </select>
            </div>
            <br>
            <div class="products-grid">
                {{#each productos}}
                <div class="product-card">
                    <h4 class="product--id">Código: {{this.code}}</h4>
                    <h1 class="product--title">{{this.title}}</h1>
                    <p class="product--price">Precio: ${{this.price}}</p>
                    <h2 class="product--stock">Stock disponible: {{this.stock}}</h2>
                    <h2 class="product--stock">Categoría: {{this.category}}</h2>
                    <br>
                    <a href="/products/{{_id}}" class="btn-link"><button class="btn-prima">VER DETALLE</button></a>
                    <br>
                    <button onclick="addToCart('{{this._id}}')">Add to Cart</button>
                    <br>
                    <a href="" class="btn-link"><button class="btn-secon">AGREGAR AL CARRITO</button></a>
                </div>
                {{/each}}
            </div>
            <br><br>
            <div class="pagination-container">
                {{#if hasNextPage}}
                <a href="/api/sessions/products?page={{nextPage}}" class="pagination-link"> Siguiente </a>
                {{/if}}
                {{#if hasPrevPage}}
                <a href="/api/sessions/products?page={{prevPage}}" class="pagination-link"> Anterior </a>
                {{/if}}

                <p class="pagination-text">Página {{currentPage}} de {{totalPages}}</p>
            </div>
            <div>
                <a href="/carts"Volver al Carrito</a>
            </div>
        </section>
    </main>
</body>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/main.js"></script>
<script>
    document.getElementById('sortPrice').addEventListener('change', function () {
        const sortOrder = this.value;
        const currentUrl = new URL(window.location.href);
        const page = currentUrl.searchParams.get('page') || 1;
        currentUrl.searchParams.set('sort', sortOrder);
        currentUrl.searchParams.set('page', page);
        window.location.href = currentUrl.toString();
    });

    window.addEventListener('load', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const sortParam = urlParams.get('sort');
        if (sortParam) {
            document.getElementById('sortPrice').value = sortParam;
        }
    });

    function addToCart(productId) {
        fetch('/api/carts/add-product', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ productId }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert('Product added to cart');
                } else {
                    alert('Error adding product to cart');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

</script>
<style>
    * {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        background-image: url("../images/pages/frontPage.png");
        background-size: cover;
        background-position: center;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-container {
        background-color: rgb(36, 36, 36);
        text-align: center;
        justify-content: center;
        font-weight: bold;
        width: 100%;
        height: 40px;
    }

    .nav-container nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .nav-container nav ul li {
        margin: 0 25px;
    }

    .nav-container nav ul li a {
        color: white;
        text-decoration: none;
    }

    .nav-container nav ul li a:hover {
        text-decoration: none;
        color: rgba(193, 255, 114, 0.87);
        border-bottom-style: solid;
        border-bottom-color: rgba(12, 192, 223, 0.87);
    }

    .logo-container {
        margin: 20px 0;
    }

    .logo-container .logo {
        max-height: 400px;
    }

    .text {
        background-color: rgb(36, 36, 36);
        color: white;
        text-align: center;
        padding: 5px 0;
        font-weight: bold;
    }

    main {
        padding: 20px;
    }

    .paragraph {
        background-color: rgb(36, 36, 36);
        text-align: center;
        justify-content: center;
        font-weight: bold;
        width: 100%;
        padding: 5px;
    }

    footer {
        background-color: #333333;
        color: #ffffff;
        text-align: center;
        padding: 10px 0;
        width: 100%;
        bottom: 0;
    }

    .products .title {
        text-align: center;
        padding-bottom: 20px;
    }

    .products .main-title {
        text-align: center;
        padding-bottom: 20px;
        font-size: 34px;
        font-weight: bold
    }

    .products-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        justify-content: center;
    }


    .product-card {
        flex: 0 0 calc(33.333% - 20px);
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        border: 3px solid rgba(0, 31, 85, 0.2);
        border-radius: 15px;
        background-color: rgb(246, 246, 246);
    }

    .product-card .product-id {
        font-size: 18px;
        color: #242424;
        font-weight: bold;
        padding: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .product-card .product--id {
        font-size: 16px;
        color: #242424;
        font-weight: bold;
        padding: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .product-card .product-title {
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        padding: 5px;
    }

    .product-card .product--title {
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        padding: 5px;
    }


    .product-card .product-description {
        font-size: 0.9em;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 10px;
    }

    .product-card .product-stock {
        font-size: 1em;
        text-align: center;
        padding: 5px;
    }

    .product-card .product--stock {
        font-size: 0.8em;
        text-align: center;
        padding: 5px;
    }

    .product-card .product-price {
        font-size: 2.2em;
        text-align: center;
        padding: 5px;
        font-weight: bold;
        color: #007bff;
    }

    .product-card .product--price {
        font-size: 1.5em;
        text-align: center;
        padding: 5px;
        font-weight: bold;
        color: #007bff;
    }

    .product-card .trash {
        background-color: #fe504f66;
        border: 3px solid rgba(0, 31, 85, .2);
        width: 300px;
        height: 35px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin: auto;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 700;
    }

    .product-card .trash:hover {
        background-color: rgb(239, 77, 75);
        border: 3px solid rgba(0, 31, 85, 0.2);
        width: 300px;
        height: 35px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }

    .btn-link {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    .btn-prima {
        background-color: #7bb62e;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: bold;
    }

    .btn-secon {
        background-color: #0cc0df;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: bold;
    }

    .btn-prima:hover,
    .btn-secon:hover {
        background-color: #44bb87;
    }

    .pagination-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }

    .pagination-link {
        text-decoration: none;
        color: rgb(123, 182, 46);
        padding: 10px 15px;
        margin: 5px;
        border: 1px solid rgb(123, 182, 46);
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
        font-weight: bold;
    }

    .pagination-link:hover {
        background-color: rgb(123, 182, 46);
        color: #ffffff;
    }

    .pagination-text {
        font-size: 16px;
        margin: 10px 0;
        color: #333333;
    }
</style>