<body>
    <header>
        <div class="paragraph">
            <p>Bienvenida/o {{user.email}} </p>
        </div>
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a href="/api/sessions/profile">MI PERFIL</a></li>
                    <li><a href="/api/sessions/logout">CERRAR SESIÓN</a></li>
                </ul>
            </nav>
        </div>
        <div class="logo-container">
            <img src="images/pages/logo.png" alt="Logo de VerdeVital" class="logo">
        </div>
    </header>

    <main>
        <section class="products">
            <h1 class="title">AGREGAR PRODUCTOS</h1>
            <form id="formAddProduct" action="/api/sessions/realtimeproducts" method="POST">
                <input type="text" name="title" placeholder="NOMBRE DEL PRODUCTO" required></label>
                <input type="text" name="description" placeholder="DESCRIPCIÓN" required></label>
                <input type="number" name="price" placeholder="PRECIO" required></label>
                <input type="number" name="stock" placeholder="STOCK" required></label>
                <input type="text" name="code" required placeholder="CÓDIGO"></label>
                <input type="text" name="category" placeholder="CATEGORÍA" required></label>
                <input type="text" name="thumbnails" value="Sin Imagen"></label>
                <select typoe="boolean" name="status">
                    <option value="true"> ACTIVO </option>
                    <option value="false"> INACTIVO </option>
                </select>
                <button type="submit">AGREGAR PRODUCTO</button>
            </form>

            <section class="products">
                <h1 class="title">PRODUCTOS DISPONIBLES</h1>
                <div class="container-products">
                    <div class="products--grid">
                        {{#each productos}}
                        <div class="product-card">
                            <h4 class="product-id">ID: {{this._id}}</h4>
                            <h4 class="product-id">Código: {{this.code}}</h4>
                            <h1 class="product-title">{{this.title}}</h1>
                            <h2 class="product-description">{{this.description}}</h2>
                            <h2 class="product-stock">Stock disponible: {{this.stock}} | Categoría: {{this.category}}
                            </h2>
                            <p class="product-price">Precio: ${{this.price}}</p>
                            <br>

                            <form id="delete-form">
                                <input type="text" name="productId"
                                    placeholder="PARA ELIMINAR INGRESAR EL ID DEL PRODUCTO" required>
                                <button class="trash" type="submit">ELIMINAR</button>
                            </form>

                        </div>
                        {{/each}}
                    </div>
                </div>
            </section>
    </main>
</body>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/main.js"></script>
 <script>
      document.addEventListener('DOMContentLoaded', () => {
        if (!window.socket) {
          const socket = io();
          window.socket = socket;

          socket.on('updateProducts', (products) => {
            console.log(products);
            const productList = document.getElementById('product-list');
            productList.innerHTML = '';
            products.forEach((product) => {
              const listItem = document.createElement('li');
              listItem.textContent = `ID: ${product.id} - Title: ${product.title} - Price: $${product.price}`;
              productList.appendChild(listItem);
            });
          });

          const productForm = document.getElementById('product-form');
          if (productForm) {
            productForm.addEventListener('submit', (e) => {
              e.preventDefault();
              const formData = new FormData(productForm);
              const product = {};
              formData.forEach((value, key) => {
                product[key] = value;
              });
              socket.emit('createProduct', product);
              productForm.reset();
            });
          }

          const deleteForm = document.getElementById('delete-form');
          if (deleteForm) {
            deleteForm.addEventListener('submit', (e) => {
              e.preventDefault();
              const productId = new FormData(deleteForm).get('productId');
              socket.emit('deleteProduct', productId);
              deleteForm.reset();
            });
          }
        }
      });
    </script>
<style>
    * {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        background-image: url("../images/pages/frontPage.png");
        background-size: cover;
        background-position: center;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-container {
        background-color: rgb(36, 36, 36);
        text-align: center;
        justify-content: center;
        font-weight: bold;
        width: 100%;
        height: 40px;
    }

    .nav-container nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .nav-container nav ul li {
        margin: 0 25px;
    }

    .nav-container nav ul li a {
        color: white;
        text-decoration: none;
    }

    .nav-container nav ul li a:hover {
        text-decoration: none;
        color: rgba(193, 255, 114, 0.87);
        border-bottom-style: solid;
        border-bottom-color: rgba(12, 192, 223, 0.87);
    }

    .logo-container {
        margin: 20px 0;
    }

    .logo-container .logo {
        max-height: 400px;
    }

    .text {
        background-color: rgb(36, 36, 36);
        color: white;
        text-align: center;
        padding: 5px 0;
        font-weight: bold;
    }

    main {
        padding: 20px;
    }

    .paragraph {
        background-color: rgb(36, 36, 36);
        text-align: center;
        justify-content: center;
        font-weight: bold;
        width: 100%;
        padding: 5px;
    }

    footer {
        background-color: #333333;
        color: #ffffff;
        text-align: center;
        padding: 10px 0;
        width: 100%;
        bottom: 0;
    }

    .products .title {
        text-align: center;
        padding-bottom: 20px;
    }

    .products .main-title {
        text-align: center;
        padding-bottom: 20px;
        font-size: 34px;
        font-weight: bold
    }

    #formAddProduct {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgb(246, 246, 246);
        border: 3px solid rgba(0, 31, 85, 0.2);
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    #formAddProduct input[type="text"],
    #formAddProduct input[type="number"],
    #formAddProduct select,
    #formAddProduct button {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        background-color: #fff;
        transition: border-color 0.3s ease;
    }

    #formAddProduct input[type="text"]:focus,
    #formAddProduct input[type="number"]:focus,
    #formAddProduct select:focus {
        border-color: #007bff;
    }

    #formAddProduct button {
        grid-column: span 4;
        background-color: #007bff66;
        border: 3px solid rgba(0, 31, 85, 0.2);
        color: #000000;
        border-radius: 12px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #formAddProduct button:hover {
        background-color: #0056b3;
        color: #fff;
        font-weight: bold;
        border: 3px solid rgba(0, 31, 85, 0.2);
    }

    #formAddProduct input::placeholder {
        color: #aaa;
        font-style: italic;
    }

    .products--grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
    }

    .product-card {
        flex: 0 0 calc(33.333% - 20px);
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        border: 3px solid rgba(0, 31, 85, 0.2);
        border-radius: 15px;
        background-color: rgb(246, 246, 246);
    }

    .product-card .product-id {
        font-size: 18px;
        color: #242424;
        font-weight: bold;
        padding: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .product-card .product--id {
        font-size: 16px;
        color: #242424;
        font-weight: bold;
        padding: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .product-card .product-title {
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        padding: 5px;
    }

    .product-card .product--title {
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        padding: 5px;
    }


    .product-card .product-description {
        font-size: 0.9em;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 10px;
    }

    .product-card .product-stock {
        font-size: 1em;
        text-align: center;
        padding: 5px;
    }

    .product-card .product--stock {
        font-size: 0.8em;
        text-align: center;
        padding: 5px;
    }

    .product-card .product-price {
        font-size: 2.2em;
        text-align: center;
        padding: 5px;
        font-weight: bold;
        color: #007bff;
    }

    .product-card .product--price {
        font-size: 1.5em;
        text-align: center;
        padding: 5px;
        font-weight: bold;
        color: #007bff;
    }

    .product-card .trash {
        background-color: #fe504f66;
        border: 3px solid rgba(0, 31, 85, .2);
        width: 300px;
        height: 35px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin: auto;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 700;
    }

    .product-card .trash:hover {
        background-color: rgb(239, 77, 75);
        border: 3px solid rgba(0, 31, 85, 0.2);
        width: 300px;
        height: 35px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
</style>